@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  background: linear-gradient(to bottom right, #fafafa, #e0e0e0);
  user-select: none;
}

html:not([data-scroll="0"]) .navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-blend-mode: overlay;
  background-color: #fafafa;
  opacity: 1;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
  transition: 0.4s linear;
  z-index: 1000;
}

.ls-51 {
  letter-spacing: 0.5em;
}

.space-links {
  transition: 0.3s;
}

.space-links:hover {
  letter-spacing: 1px;
}

.w-340px {
  width: 340px;
}

.active-class {
  color: #1a4c3d;
  font-weight: bold;
}

.title-line {
  position: relative;
  display: inline-block;
}
.title-line::before,
.title-line::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  background-color: black;
  width: 50px;
}
.title-line::before {
  right: 100%;
  margin-right: 15px;
}
.title-line::after {
  left: 100%;
  margin-left: 5px;
}

@keyframes click-scale {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.click-scale-animation {
  animation: click-scale 0.3s ease-in-out;
}
.navbutton {
  width: 190px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link {
  position: relative;
  overflow: hidden;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.nav-link:hover::after {
  transform: translateX(0);
}
